<site-header></site-header>

<login-page *ngIf="!authService.isAuthenticated()">
</login-page>

<!-- TODO: this will be routed: no need to create separate component -->
<app-courses
  (onViewChange)="changeViewTo($event)"
  *ngIf="authService.isAuthenticated() && view === 'courses'">
</app-courses>

<course-add *ngIf="authService.isAuthenticated() && view === 'add-course'">
  view === 'add-course'
</course-add>

<site-footer></site-footer>

<profiler-change-detection></profiler-change-detection>
