<form [formGroup]="addCourseForm"
      (submit)="submitNewCourse(addCourseForm)">
  <p>
    Title: <input type="text" [formControlName]="courseFieldsBE.name">
    <!-- #nameControl will not show angular validity objects -->
    <span *ngIf="addCourseForm.get(courseFieldsBE.name).invalid">
      {{addCourseForm.get(courseFieldsBE.name).errors | json}}
    </span>
  </p>

  <p>
    Description: <textarea [formControlName]="courseFieldsBE.description"
                           name="new-course-description"
                           id=""
                           cols="30"
                           rows="10"></textarea>
    <span *ngIf="addCourseForm.get(courseFieldsBE.description).invalid">
      {{addCourseForm.get(courseFieldsBE.description).errors | json}}
    </span>
  </p>

  <p>
    Date: <input type="date"
                 [formControlName]="courseFieldsBE.date">
  </p>

  <p>
    Duration (minutes): <input type="number" #duration
                               [formControlName]="courseFieldsBE.length">
    {{duration.value | myArtemDuration}}
  </p>

  <p>
    Authors (6. Separate component. Skip it for now. Will be different.)
  </p>

  <p>
    <button type="submit" [disabled]="!addCourseForm.valid">SUBMIT</button>
    <button (click)="save()" [disabled]="!addCourseForm.valid">Save</button>
    <button (click)="cancel()">Cancel</button>
  </p>
</form>
