<article class="course-video"
         indicate-latest
         [date]="courseInput.publishedDate"
         [ngClass]="{'top-rated': courseInput.topRated}">
  <div class="course-video__information">
    <header class="course-video__header">
      <h2 class="course-video__information__title">
        <a href="">
          {{courseInput.title | uppercase}} <!--| ID: {{courseInput.id}}-->
        </a>
      </h2>
      <p class="course-video__information__duration">
        {{courseInput.duration | myArtemDuration}}
      </p>
      <i class="course-star"
         *ngIf="courseInput.topRated">*top</i>
      <p class="course-video__information__date-published">
        {{courseInput.publishedDate}}
      </p>
    </header>
    <main>
      <p class="course-video__information__description">
        {{courseInput.description}}
      </p>
    </main>
  </div>

  <div class="course-video__controls">
    <button class="course-video__controls__edit-button"
            [routerLink]="['/courses', courseInput.id]"
            (click)="editCourse($event)">
      Edit course
    </button>
    <button class="course-video__controls__delete-button" (click)="deleteCourse($event)">
      Delete
    </button>
  </div>
</article>
