/* site-header.component.scss */
// WTF? host always has zero height?
//:host {
//  min-height: 3em;
//}

.root-class {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: 1px double black;

  .left-section {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
  }
  .right-section {
    display: flex;
    flex-grow: 5;
    //align-items: right;
    //text-align: right;
    justify-content: flex-end;
  }
}
