/* login-controls.component.scss */
.login-controls-root {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .logoff-link {
    color: #28accc;
    cursor: pointer;
    font-weight: bold;
  }
}

h1, h2, h3 {
  margin: 0;
}
